:root {

    --cinza-escuro: #05080D;
    --cinza-claro: #003f5c;
    --cinza-medio: #263640;
    --laranja: #665191;
    --marrom: #a05195;
    --azul-um: #d45087;
    --azul-dois: #f95d6a;
    --azul-tres: #ff7c43;
    --azul-quatro: #ffa600;
    --azul-cinco: #4B4FA6;
    --color1: #34449c;
    --color2: #909ad4;
    --color3: #2c439b;
    --color4: #5454a2;
    --color5: #a4acd3;
    --color6: #7f7f7f;
    --color7: #bcbcbc;
    --color8: #424242;
    --color9: #4c4c4c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(90deg, var(--color1), var(--color5));
    background-image: url('../assets/fundo_preto.jpg');
    background-size: 120%;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 100%;
    background-color: var(--cinza-escuro);
    z-index: 1000;
}

.header .header__title{
    display: flex;
    align-items: center;
    color: aliceblue;
    margin-left: 5vw;
    cursor: pointer;
}

.header .header__nav{
    display: flex;
    justify-content: space-around;
    margin-right: 5vw;
    width: 270px;
}

.header .header__nav-btn {
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--azul-tres);
    color: aliceblue;
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

.header__nav-btn:hover {
    transform: scale(1.03) translateY(-2px);
    border: solid 2px var(--azul-dois);
    transition: 0.2s ease-in-out;
}

.header__nav-btn:active {
    transform: scale(0.97) translateY(2px);
}

.header__divider{
    color: var(--color6);
    height: 1px;
    z-index: 999;
}

.app {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

