@keyframes fadeInSide {
    from {
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        transform: translateX(-200%);
    }

    to {
        visibility: visible;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@keyframes fadeInTop {
    from {
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-200%);
    }
    to {
        visibility: visible;
        opacity: 1;
        overflow: visible;
        transform: translateY(0px);
    }
}

.converter {
    animation: fadeInTop 1.25s ease-out;
    
    position: relative;
    top: 10vh;
    left: 8vw;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 4px;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: solid 2px var(--cinza-escuro);
    width: 450px;
}

.converter__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, var(--azul-um), var(--azul-quatro));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.converter__label{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.converter__select{
    padding: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.converter__mode {
    background-color: var(--color8);
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.converter__mode-title{
    margin-bottom: 20px;
}

.converter__results {
    background-color: aliceblue;
    color: var(--color3);
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 6px;
    padding: 10px;
}

.converter__result-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color3);
}

.converter__result-label{
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--color3);
}


.converter__result-value{
    margin-left: 20px;
    color: var(--color3);
    font-weight: 700;
    transition: all 0.1S ease-in;
}

.converter__result-value:hover{
    transform: scale(1.2);
    color: var(--azul-quatro);
    filter: brightness(1.3);
}

.converter__value-display{
    margin-top: 20px;
    width: 100%;
    background-color: var(--color2);
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.converter__slider-wrapper .converter__slider{
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}

.converter__slider::-webkit-slider-runnable-track{
    background: linear-gradient(90deg, var(--azul-cinco), var(--marrom), var(--azul-um), var(--azul-tres));
    height: 10px;
    border-radius: 3px;
    border: solid 1px var(--cinza-escuro);
}

.converter__slider::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 20px;
    transform: translateY(-5px) scale(0);
    transition: all 0.2s ease-in-out;
}

.converter__slider:hover::-webkit-slider-thumb{
    transform: translateY(-5px) scale(1);
    transition: 0.2s ease-in-out;
}

.converter__slider:active::-webkit-slider-thumb{
    transform: scale(1.5) translateY(-5px);
}

.converter__slider::-moz-range-track{
    background: linear-gradient(90deg, var(--azul-cinco), var(--marrom), var(--azul-um), var(--azul-tres), var(--azul-quatro));
    height: 10px;
    border-radius: 3px;
    border: solid 1px var(--cinza-escuro);
}

.converter__slider::-moz-range-thumb{
    height: 0px;
    width: 0px;
    border: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.converter__slider:hover::-moz-range-thumb{
    height: 20px;
    width: 20px;
}

.converter__slider:active::-moz-range-thumb{
    transform: scale(1.5);
}

.converter__form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.converter__input{
    border: none;
    border-radius: 6px;
    min-height: 30px;
    padding: 5px;
    outline: none;
    transition: 0.2s ease-in;
}

.converter__input:focus{
    border: solid 2px var(--azul-cinco);
    transform: scale(1.05);
}

.converter__btn--primary{
    border: none;
    background-color: var(--color9);
    color: aliceblue;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-weight: 600;
}

.converter__btn--primary:hover{
    background-color: var(--azul-cinco);
}

.converter__btn--primary:active{
    transform: scale(0.95);
}

.converter__message{
    background: linear-gradient(45deg, var(--azul-um), var(--azul-quatro));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem 0rem 1rem 0rem;
}

.navbar{
    animation: fadeInSide 1.5s ease-out;

    position: fixed;
    top: 35vh;
    height: 370px;
    left: -10px;
    width: 320px;
    background-color: #1a1a1a;
    border-radius: 6px;
    border: solid 2px var(--azul-quatro);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar__title{
    margin: 1rem 2rem;
    text-transform: uppercase;
    color: var(--azul-tres);
}

.navbar__buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 50%;
    height: 235px;
    margin: 0.75rem 0rem 1rem 3rem;
}


.navbar__button-btn{
    padding: 10px;
    border: solid 3px var(--azul-quatro);
    border-radius: 4px;
    background-color: var(--marrom);
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.navbar__button-btn:hover{
    transform: translateY(-8px);
}

.navbar__button-btn:active{
    transform: translateY(0px);
}
