@media (max-width: 720px) {
    .header .header__title{
        display: none;
    }
}

@media (max-width: 880px) {
    .features__content--conversoes{
        animation: slideUpFeature 1.75s ease-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features__content--conversoes-item{
        background-color: var(--color8);
        padding: 0.5rem;
        margin: 0.25rem;
        border-radius: 4px;
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

@media (max-width: 960px){

    .converter {
        animation: fadeInTop 1.25s ease-out;
        
        position: relative;
        top: 10vh;
        left: 0vw;
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 4px;
        color: aliceblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: solid 2px var(--cinza-escuro);
        width: 450px;
    }

    .navbar{

        position: absolute;
        top: 3vh;
        height: 70px;
        width: 390px;
        background-color: #1a1a1a;
        border-radius: 6px;
        border: solid 2px var(--azul-quatro);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        z-index: 1;
    }

    .navbar__title{
        display: none;
    }

    .navbar__buttons{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-inline: 1rem;
    }

    .navbar__button-btn{
        padding: 10px;
        border: solid 3px var(--azul-quatro);
        border-radius: 4px;
        margin-left: 5px;
        background-color: var(--marrom);
        text-transform: uppercase;
        color: aliceblue;
        font-weight: 600;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
}

@media (max-width: 480px){

    .converter {
        animation: fadeInTop 1.25s ease-out;
        
        position: relative;
        top: 10vh;
        left: 0vw;
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 4px;
        color: aliceblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: solid 2px var(--cinza-escuro);
        width: 350px;
    }
}

@media (max-width: 380px){

    .converter {
        animation: fadeInTop 1.25s ease-out;
        
        position: relative;
        top: 10vh;
        left: 0vw;
        background-color: #1a1a1a;
        padding: 10px;
        border-radius: 4px;
        color: aliceblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: solid 2px var(--cinza-escuro);
        width: 300px;
    }

    .converter__input{
        border: none;
        border-radius: 6px;
        min-height: 30px;
        max-width: 130px;
        padding: 5px;
        outline: none;
        transition: 0.2s ease-in;
    }

    .navbar{

        position: absolute;
        top: 3vh;
        height: 70px;
        width: 350px;
        background-color: #1a1a1a;
        border-radius: 6px;
        border: solid 2px var(--azul-quatro);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        z-index: 1;
    }

    .navbar__button-btn{
        padding: 10px;
        border: solid 3px var(--azul-quatro);
        border-radius: 4px;
        margin-left: 5px;
        background-color: var(--marrom);
        text-transform: uppercase;
        color: aliceblue;
        font-weight: 600;
        font-size: 10px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

}

@media (max-width: 340px) {
    .navbar{

        position: absolute;
        top: 3vh;
        height: 70px;
        width: 320px;
        background-color: #1a1a1a;
        border-radius: 6px;
        border: solid 2px var(--azul-quatro);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        z-index: 1;
    }

    .navbar__button-btn{
        padding: 10px;
        border: solid 3px var(--azul-quatro);
        border-radius: 4px;
        margin-left: 5px;
        background-color: var(--marrom);
        text-transform: uppercase;
        color: aliceblue;
        font-weight: 600;
        font-size: 8px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
}


@media (max-width: 1135px) {
    .sobre {
        border-radius: 6px;
        background: var(--cinza-escuro);
        padding: 0rem 0.25rem 0rem 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 75vw;
    }
}

@media (max-width: 480px) {
    .sobre {
        border-radius: 6px;
        background: var(--cinza-escuro);
        padding: 0rem 0.25rem 0rem 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 95vw;
    }
}
